*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/*Main menu*/
.header{
    height: 140px;
    background-color: rgb(180, 214, 203);
}

.main_menu{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}

.main_menu a{
    text-decoration: none;
    color: rgb(44, 42, 40);
    font-weight: 400;
}

.main_menu li{
    list-style: none;
    margin-right: 10px;
    width: 140px;
    margin-top: 5%;
    box-shadow: 10px 10px 10px grey;
    font-family: monospace;
    border-radius: 60px;
    text-align: center;
    outline: 1px rgb(129, 122, 122)  solid;
}

.main_menu li:hover{
    transition-duration: 0.5s;
    box-shadow: 5px 5px 5px rgb(105, 94, 94);
    outline: 1px black  solid;
}

.main_menu p{
    font-size: 18px;
}
