{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 col-12 text-center text-color">
    <h3>Mike do it - fullstack разработка</h3>
</div>
<div class="container ps-5">
    <div class="topic-style mt-2 ps-5">
        <a href="#" class="topic nav-link">Html</a>
    </div>
    <div class="topic-style mt-2 ps-5">
        <a href="#" class="topic nav-link">Css</a>
    </div>
    <div class="topic-style mt-2 ps-5">
        <a href="#" class="topic nav-link">Python</a>
    </div>
    <div class="topic-style mt-2 ps-5">
        <a href="#" class="topic nav-link">Java</a>
    </div>
    <div class="topic-style mt-2 ps-5">
        <a href="#" class="topic nav-link">Flask</a>
    </div>
    <div class="topic-style mt-2 ps-5">
        <a href="#" class="topic nav-link">Django</a>
    </div>

</div>
{% endblock %}
